<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Agregar Equipo</h1>
      <form action="http://localhost:4201" method="post">
        <input type="text" class="form-control" name="marca" placeholder="Marca" [(ngModel)]="equipo.marca" required>
        <input type="text" class="form-control" name="modelo" placeholder="Modelo" [(ngModel)]="equipo.modelo" required>
        <input type="text" class="form-control" name="tipo_procesador" placeholder="Procesador"
               [(ngModel)]="equipo.tipo_procesador" required>
        <input type="text" class="form-control" name="velocidad_procesador" placeholder="Velocidad de Procesador"
               [(ngModel)]="equipo.velocidad_procesador" required>
        <input type="number" class="form-control" name="memoria_ram" placeholder="Memoria RAM"
               [(ngModel)]="equipo.memoria_ram" required>
        <input type="number" class="form-control" name="memoria_rom" placeholder="Memoria ROM"
               [(ngModel)]="equipo.memoria_rom" required>
        <input type="text" class="form-control" name="tamano_pantalla" placeholder="Tamaño de Pantalla"
               [(ngModel)]="equipo.tamano_pantalla" required>
        <input type="text" class="form-control" name="resolucionn" placeholder="Resolución"
               [(ngModel)]="equipo.resolucionn" required>
        <input type="number" class="form-control" name="numero_camaras" placeholder="N° de Cámaras"
               [(ngModel)]="equipo.numero_camaras" required>
        <input type="text" class="form-control" name="resolucion_camaras" placeholder="Resolución de Cámaras"
               [(ngModel)]="equipo.resolucion_camaras" required>
        <input type="text" class="form-control" name="sistema_operativo" placeholder="Sistema operativo"
               [(ngModel)]="equipo.sistema_operativo" required>
        <div class="container-flex">
          <button class="btn btn-primary" (click)="agregarEquipo()">Guardar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
