form {
  margin-top: 4rem;
}


.container-flex {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

div.container-flex {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

button.btn-danger {
  margin-right: 3rem;
}

@media screen and (orientation: portrait) {
  div.col-lg-4.center {
    margin: auto;
    width: 80%;
    padding: 1rem;
  }
  div.col-lg-4 {
    margin: auto;
    width: 8%;
    padding: 1rem;
  }
}
