table {
  margin-top: 4rem;
  text-align: center;
}

td {
  padding-top: 3vh;
  padding-bottom: 3vh;
  vertical-align: middle !important;
}

img {
  width: 100%;
  height: auto;
  max-width: 200px;
}
