<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Modificar Automovil</h1>
      <form>
             <input type="text" class="form-control" name="marca" placeholder="Marca" [(ngModel)]="automovil.marca" required>
        <input type="text" class="form-control" name="modelo" placeholder="Modelo" [(ngModel)]="automovil.modelo" required>
        <input type="text" class="form-control" name="anno" placeholder="Año" [(ngModel)]="automovil.anno" required>
        <input type="text" class="form-control" name="motor" placeholder="Motor"
               [(ngModel)]="automovil.motor" required>
        <input type="text" class="form-control" name="color" placeholder="Color"
               [(ngModel)]="automovil.color" required>
        <input type="number" class="form-control" name="rine" placeholder="Rin"
               [(ngModel)]="automovil.rine" required>
        <input type="number" class="form-control" name="img" placeholder="Imagen"
               [(ngModel)]="automovil.img" required>
        <input type="text" class="form-control" name="precio" placeholder="Precio"
               [(ngModel)]="automovil.precio" required>
        <input type="text" class="form-control" name="segmento" placeholder="Segmento"
               [(ngModel)]="automovil.segmento" required>
        <div class="container-flex">
          <button class="btn btn-primary" (click)="modificarEquipo()">Guardar</button>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
